AI Resume Analyzer.json
{
  "name": "AI Resume Analyzer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "18c0cd06-af67-4bd5-9d30-10ec822626c4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68260b40-014d-41b0-80f7-945727a50077",
              "name": "resume",
              "value": "Nickson R ECE Student at Saveetha Engineering College. Interested in AI automation, networking, embedded systems, FPGA, and OpenAI workflows. Built AI YouTube Automation using n8n, OpenAI, and Google Sheets. Skills: Python, n8n, Automation, Networking.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "591289cf-6155-4bac-b036-391a7b3e8c98",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        208
      ],
      "id": "cf8d5623-f130-471b-b6d4-5696dac1523b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "c3ccIPr0eLpcsR9i",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this resume professionally.\n\nGive:\n\n1. Strengths\n2. Weaknesses\n3. Suggested improvements\n4. Suitable job roles\n5. Career advice\n\nResume:\n{{$json[\"resume\"]}}",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ],
      "id": "78b45aee-f685-4edc-88f2-1a619b3fb1b4",
      "name": "Resume Analyzer"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12iIJWn5AVWxBC1Hs0rDN_ZAV1lbgqLepXOdAn-JKb9M",
          "mode": "list",
          "cachedResultName": "AI Resume Analyzer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12iIJWn5AVWxBC1Hs0rDN_ZAV1lbgqLepXOdAn-JKb9M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12iIJWn5AVWxBC1Hs0rDN_ZAV1lbgqLepXOdAn-JKb9M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Resume": "={{$node[\"Edit Fields\"].json[\"resume\"]}}",
            "Analysis": "={{$node[\"Resume Analyzer\"].json[\"text\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "e45b2caa-44ec-42a5-ac0c-96a7204aad46",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SwJyQRfyV23ur0Ql",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resume Analyzer": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Resume Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bffba386-0e34-4b57-83c4-13be8b996a86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0be8ca0f8bbae73a4da56401b4d3348c514ff7cba896c4f42a489f6d61210451"
  },
  "id": "GQrgyBE955NNJ4p1",
  "tags": []
}